<h2>Here are your twizzles:</h2>

<form class="form-inline">
  <label for="twizzer">Which Twizzard art thou?</label>
  {{input id="twizzer" class="form-control" value=twizzard}}
  <label for="twizzled">Care to twizz?</label>
  {{input id="twizzled" class="form-control" value=twizzle}}
  <button {{action 'newTwizzle'}}>Twizz!</button>
</form>

<ul>
  {{#each}}
    <li>{{twizzle}}</li>
  {{/each}}
</ul>
